<!DOCTYPE html>
<html ng-app="myAngularApplication" lang="en">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="style/bootstrap.min.css">

        <script src="lib/angular.min.js" type="text/JavaScript">
        </script>
        <script src="app/application/app.js" type="text/JavaScript">
        </script>
        <script src="app/controller/book/booksController.js" type="text/JavaScript">
        </script>
</head>


<body ng-controller="booksController as controller" ng-init="subtitle='This is my table of books:'">
        <div class="container">
                
                <h3 ng-bind="controller.title"></h3>
                <h5 ng-bind="subtitle"></h5>

                <select ng-model="country" ng-options="country for country in countries"></select>
                <br><br>

                <h5 ng-bind="country"></h5>

                <br><br>

                <a class="btn btn-default" ng-click="fetchBooks();">Fetch Books</a>
                <br><br>

                <p ng-hide="books.length > 0" ng-style='getStyle(1)' ng-class="{'alert alert-warning':books.length<=0}">No books availables.</p>

                <table class="table table-striped" ng-hide="books.length<=0">
                        <thead>
                                <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Author Name</th>
                                        <th>Date Released</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr ng-repeat="book in books | limitTo: amountBooksVisible">
                                        <td ng-bind="book.ID"></td>
                                        <td ng-bind="book.BookName"></td>
                                        <td ng-bind="book.AuthorName"></td>
                                        <td>{{book.DateReleased | date: 'mediumDate'}}</td>
                                </tr>
                        </tbody>
                </table>

                <div class="col-md-4 text-center"> 
                <input class="btn btn-default mx-auto" style="center" type="button" ng-click="amountBooksVisible = amountBooksVisible + limitRowsPerPage"
                        value="More" ng-hide="books.length<=0" />
                                </div>
                <br>
                <spam class="badge badge-primary" ng-hide="books.length<=0">
                        Total: {{books.length | number}}
                </spam>
        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="lib/jquery-3.1.1.min.js"></script>
        <script src="lib/popper.js"></script>
        <script src="lib/bootstrap.min.js"></script>
</body>

</html>