<!DOCTYPE html>
<html ng-app="myAngularApplication" lang="en">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="style/bootstrap.min.css">

        <script src="lib/angular.min.js" type="text/JavaScript">
        </script>
        <script src="app/application/app.js" type="text/JavaScript">
        </script>
        <script src="app/services/book/localBooksService.js" type="text/JavaScript">
        </script>
        <script src="app/controller/book/booksController.js" type="text/JavaScript">
        </script>
        <link rel="stylesheet" href="app/application/app.css">

</head>


<body ng-controller="booksController as controller" ng-init="subtitle='This is my table of books:'">
        <div class="container">

                <h3 ng-bind="controller.title"></h3>
                <h5 ng-bind="subtitle"></h5>

                <br> Using custom filter: 2^5 = {{2 | power: 5 }}
                <br><br>

                <form name="bookFormAdd" novalidate class="form-inline" ng-submit="addBook(bookFormAdd)" ng-hide="editBook!=null">

                        <input name="inputBookAddName" type="text" ng-model="book.BookName" placeholder="Book's Name" ng-class="{'erroneous-field':bookFormAdd.inputBookAddName.$invalid && bookFormAdd.inputBookAddName.$dirty}"
                                required />
                        <br><br>
                        <input name="inputBookAddAuthorName" type="text" ng-model="book.AuthorName" placeholder="Author's Name" required/>
                        <br><br>
                        <input name="inputBookAddISBN" type="text" ng-model="book.ISBN" placeholder="ISBN" required/>
                        <br><br>
                        <input name="inputBookAddDateReleased" type="hidden" ng-model="book.DateReleased" placeholder="Date Released" value="1118323623006"
                        />
                        <br><br>
                        <input type="submit" class="btn btn-success" placeholder="ISBN" value="Create" />

                </form>

                <form name="bookFormEdit" novalidate class="form-inline" ng-hide="editBook==null">

                        <input type="hidden" ng-model="editBook.ID" />
                        <br><br>
                        <input name="inputBookEditName" type="text" ng-model="editBook.BookName" placeholder="Book's Name" ng-class="{'erroneous-field':bookFormEdit.inputBookEditName.$dirty && bookFormEdit.inputBookEditName.$invalid}"
                                required />
                        <br><br>
                        <input name="inputBookEditAuthorName" type="text" ng-model="editBook.AuthorName" placeholder="Author's Name" required/>
                        <br><br>
                        <input name="inputBookEditISBN" type="text" ng-model="editBook.ISBN" placeholder="ISBN" required/>
                        <br><br>
                        <input name="inputBookEditDateReleased" type="hidden" ng-model="editBook.DateReleased" placeholder="Date Released" value="1118323623006"
                        />
                        <br><br>
                        <input type="submit" class="btn btn-success" placeholder="ISBN" value="Update" ng-click="updateBook(bookFormEdit);" />
                        <input type="button" class="btn btn-info" placeholder="ISBN" value="Cancel" ng-click="cancelEdit();" />

                </form>

                <br><br>
                <p ng-hide="books.length > 0" ng-style='getStyle(1)' ng-class="{'alert alert-warning':books.length<=0}">
                        No books availables.
                </p>

                <div ng-hide="books.length<=0">

                        <select ng-model="orderField" ng-options="orderField for orderField in fields"></select> Descending
                        <input ng-model="isDescending" type="checkbox" />

                        <table class="table table-striped">
                                <thead>
                                        <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Author Name</th>
                                                <th>Date Released</th>
                                                <th></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr ng-repeat="book in books | orderBy: (isDescending?'-':'')+orderField |  limitTo: limitRowsPerPage : currentIndex ">
                                                <td ng-bind="book.ID"></td>
                                                <td ng-bind="book.BookName"></td>
                                                <td ng-bind="book.AuthorName"></td>
                                                <td>{{book.DateReleased | date: 'mediumDate'}}</td>
                                                <td> <input type="button" class="btn btn-info" value="Edit" ng-click="setEditBook(book);"
                                                        /></td>
                                        </tr>
                                </tbody>
                        </table>

                        <input class="btn btn-default mx-auto" type="button" ng-hide="currentIndex<=0" ng-click="previousPage()" value="Previous"
                        />
                        <input class="btn btn-default mx-auto" type="button" ng-hide="isLimitOfPage()" ng-click="nextPage()" value="Next" />
                        <br><br>
                        <spam class="badge badge-primary">
                                Total: {{books.length | number}}
                        </spam>
                </div>
        </div>
        <br><br>

        <script src="lib/jquery-3.1.1.min.js"></script>
        <script src="lib/popper.js"></script>
        <script src="lib/bootstrap.min.js"></script>
</body>

</html>