<!DOCTYPE html>
<html ng-app="myAngularApplication" lang="en">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="style/bootstrap.min.css">

        <script src="lib/angular.min.js" type="text/JavaScript">
        </script>
        <script src="app/application/app.js" type="text/JavaScript">
        </script>
        <script src="app/controller/book/booksController.js" type="text/JavaScript">
        </script>
</head>


<body ng-controller="booksController as controller" ng-init="subtitle='This is my table of books:'">
        <div class="container">

                <h3 ng-bind="controller.title"></h3>
                <h5 ng-bind="subtitle"></h5>

                <br><br>

                <a class="btn btn-default" ng-click="fetchBooks();">Fetch Books</a>
                <br><br>

                <p ng-hide="books.length > 0" ng-style='getStyle(1)' ng-class="{'alert alert-warning':books.length<=0}">No books availables.</p>

                <select ng-model="orderField" ng-options="orderField for orderField in fields" ng-hide="books.length<=0"></select>

                <table class="table table-striped" ng-hide="books.length<=0">
                        <thead>
                                <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Author Name</th>
                                        <th>Date Released</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr ng-repeat="book in books | orderBy: orderField | startFrom: currentIndex | limitTo: limitRowsPerPage">
                                        <td ng-bind="book.ID"></td>
                                        <td ng-bind="book.BookName"></td>
                                        <td ng-bind="book.AuthorName"></td>
                                        <td>{{book.DateReleased | date: 'mediumDate'}}</td>
                                </tr>
                        </tbody>
                </table>

                <div ng-hide="books.length<=0">
                        <input class="btn btn-default mx-auto" type="button" ng-hide="currentIndex<=0" ng-click="previousPage()" value="Previous"
                                ng-hide="books.length<=0" />
                        <input class="btn btn-default mx-auto" type="button" ng-hide="isLimitOfPage()" ng-click="nextPage()" value="Next" ng-hide="books.length<=0"
                        />
                        <br><br>
                        <spam class="badge badge-primary" ng-hide="books.length<=0">
                                Total: {{books.length | number}}
                        </spam>
                </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="lib/jquery-3.1.1.min.js"></script>
        <script src="lib/popper.js"></script>
        <script src="lib/bootstrap.min.js"></script>
</body>

</html>